

          /* scroll */

        html {
          overflow:   scroll;
            }             
          ::-webkit-scrollbar {
          width: 0px;
          background: black; 
          }




          /* barra di navigazione */

          .navbar {
           overflow: hidden;
           background-color: none;
            position: absolute; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 100%; /* Full width */
          font-family: Ubuntu-Light; 
          font-size: 30px;
          color: white; 
          -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: grey;

}

          .navbar a {
          float: right;
          display: block;
           color: white; 
         -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
          text-align: center;
          padding: 60px 60px;
          text-decoration: none;



          }

          /* Change background on mouse-over */
          .navbar a:hover {
            background: none;
            color: none;

          }

          /* Main content */
          .main {
            margin-top: 0px; /* Add a top margin to avoid content overlay */
          }

          #nav {
              z-index: 1;

          }





       


        html {
          box-sizing: border-box;

        }
        *, *:before, *:after {
          box-sizing: inherit;
        }

        <body{
        	 /* white, #FFFFFF */
        	padding: 0;
        	margin: 0;
 


           /* barra di navigazione */

}



        /* scrittura a macchina */




          body {
            padding-top: 0px;
            padding-right: 0px;
            background-color: trasparent;
          }

          p {
            border-right: solid 6px ;
            white-space: nowrap;
            overflow: hidden;
            color: black;
            font-family: Helvetica Neue; 
            font-weight: bolder;
           font-size: 5vw;
           
          }

          /* Animation */
          p {
            animation: animated-text 4s steps(29, end) 1s 1 normal both,
              animated-cursor 600ms steps(29, end) infinite;
          }

          /* text animation */

          @keyframes animated-text {
            from {
              width: 0.01vw;
            }
            to {
              width: 90vw;
            }
          }

          /* cursor animations */

          @keyframes animated-cursor {
            from {
              border-right-color: grey;

            }
            to {
              border-right-color: transparent;

            }
          }





          /* text animation */



            h1 { 
               font-family: helvetica neue; 
              font-size: 1vw;
              color: white; 
              margin-left: 8%;
              margin-top: -10%;

            }

            h4 { 
               font-family: helvetica Neue; 
              font-size: 2vw;
              color: white; 
              margin-left: 8%;
              margin-top: -1%;

            }


        

            h6 { 
               font-family: Montserrat-thin; 
              font-size: 0.9vw;
              font-weight: lighter;
              color: white;  
              margin-left: 9%;
              margin-bottom: 8%;
              padding-right: 12%;
              line-height: 1.4vw;
            }





.text8 {
                color: white;
              position: absolute;
              padding-right: 140px;
            bottom: 20px;
              text-align: left;
              line-height: 30px;
            }

.text10 {
              color: black;
              position: absolute;
              padding-right: 140px;
            bottom: 20px;
              text-align: left;
              line-height: 30px;
            }

            h5 { 
                font-family: helvetica neue; 
              font-size: 1vw;
              color: black; 
              margin-left: 8%;
              margin-top: -10%;

            }

            h3 { 
                font-family: helvetica Neue; 
              font-size: 2vw;
              color: black; 
              margin-left: 8%;
              margin-top: -1%;

             

            }

            h2 { 
               font-family: Montserrat-thin; 
              font-size: 0.9vw;
              font-weight: lighter;
              color: black;  
              margin-left: 9%;
              margin-bottom: 8%;
              padding-right: 12%;
            }


                      




                      h8 { 
                             font-family: Helvetica Neue; 
                             font-weight: bolder;
                             font-size: 110px;
                             color: black; 
                             margin-left: 63px;
                             padding-right: 60px
                              }
                 h7 { 
               font-family: jost-light; 
              font-size: 15px;
              color: black; 
                z-index: 3;
                margin-top: 600px;

            }

                 h10 { 
               font-family: jost-light; 
              font-size: 0.9vw;;
              color: black; 

            }
            h9 { 
               font-family: Ubuntu-bold; 
              font-size: 110px;
              color: black; 
              margin-left: 63px;
              
                  padding-right: 40px



            }
            


            .contenitore {
            	display: flex;


            }

            header{
            	height:100vh;
              background-color: none;

            }

            .copertina {
            	width:100vw;

              

            }

            section {

            	height:100vh;

            }

            

            .titolo-sezione {
              margin-left: 5%;
              margin-top: 17%;


            }

             .titolo-titolo-sezione {
              margin-left: 8%;
              margin-top: 10%;


            }
            
            .contenuto-sezione {
            	width: 50vw;


            }


            .contenuto-1{
              margin-left: 5%;
              margin-right: 60%;


            }




            section.type-a {
             background-color: black;
            }





              img {
                max-width:85%;
                height:auto;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                margin-top: 18%;
                display: block;
            }




