



html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: black; /* make scrollbar transparent */
}
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: none;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
 font-family: Ubuntu-Light; 
  font-size: 30px;
  color: white; 
 -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;

}



/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
   color: white; 
 -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  text-align: center;
  padding: 60px 60px;
  text-decoration: none;



}

/* Change background on mouse-over */
.navbar a:hover {
  background: none;
  color: none;

}

/* Main content */
.main {
  margin-top: 0px; /* Add a top margin to avoid content overlay */
}

#nav {
    z-index: 1;

}






}

html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

<body{
	 /* white, #FFFFFF */
	padding: 0;
	margin: 0;
	font-family: Ubuntu-bold;
	 font-family: Montserrat-thin; 




}



h1 { 
   font-family: jost-light; 
  font-size: 18px;
  color: white;  
  margin-left: 63px;
  margin-top: 160px;
}

h4 { 
   font-family: Ubuntu-bold; 
  font-size: 32px;
  color: white; 
  margin-left: 63px;
  margin-top: -20px;

}
h6 { 
   font-family: Montserrat-thin; 
  font-size: 15px;
  color: white;  
  	font-weight: lighter;
  margin-left: 63px;
  margin-top: 160px;
}



h5 { 
   font-family: jost-light; 
  font-size: 18px;
  color:black;  
  margin-left: 63px;
  margin-top: 80px;

}

h3 { 
   font-family: Ubuntu-bold; 
  font-size: 40px;
  color: black; 
  margin-left: 63px;
  margin-top: -20px;

 

}


/* scrittura a macchina */




body {
  padding-top: 0px;
  padding-right: 0px;
  background-color: trasparent;
}

p {
  border-right: solid 6px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  color: black;
  font-family: Helvetica Neue; 
  font-weight: bolder;
 font-size: 5vw;
 
}

/* Animation */
p {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0.01vw;
  }
  to {
    width: 90vw;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: grey;

  }
  to {
    border-right-color: transparent;

  }
}





          h8 { 
                 font-family: Helvetica Neue; 
                 font-weight: bolder;
                 font-size: 110px;
                 color: black; 
                 margin-left: 63px;
                 padding-right: 60px
                  }
     h7 { 
   font-family: jost-light; 
  font-size: 15px;
  color: black; 
    z-index: 3;
    margin-top: 600px;

}

     h10 { 
   font-family: jost-light; 
  font-size: 1vw;;
  color: black; 

}
h9 { 
   font-family: Ubuntu-bold; 
  font-size: 110px;
  color: black; 
  margin-left: 63px;
  
      padding-right: 40px



}
h2 { 
   font-family: Montserrat-thin; 
  font-size: 2vw;;
  color: black;  
  margin-left: 63px;
  margin-top: 30%;
  	font-weight: lighter;
  	
}


.contenitore {
	display: flex;


}

header{
	height:100vh;
  background-color: none;

}

.copertina {
	width:100vw;

  

}

section {

	height:100vh;

}

.titolo-sezione {
	margin-left: 100px;
  margin-top: 300px;


}

.titolo-sezione {
  margin-left: 100px;
  margin-top: 300px;


}
.titolo-titolo-sezione {
  margin-left: 20%;
  margin-top: 100px;


}
.contenuto-sezione {
	width: 50vw;


}


.contenuto-1{
  margin-left: 100px;
  margin-right: 1100px;


}




section.type-a {
 background-color: black;
}





  img {
    max-width:87%;
    height:auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    display: block;
    top: 0; left: 0; bottom: 0; right: 0;
}




