/*@font-face {
	font-family: 'suisse_intlbook';
	src: url('../font/suisse_intlbook.otf');
	src: url('../font/suisse_intlbook.woff2') format('woff2'),
		 url('../font/suisse_intlbook.woff') format('woff'),
		 url('../font/suisse_intlbook.ttf') format('truetype'),
		 url('../font/suisse_intlbook.svg#svgFontName') format('svg');
	font-weight: normal;
    font-style: normal;
}*/

* {
	 font-family:	"Helvetica Neue",
					Helvetica, Arial, 
					"Lucida Grande",
					sans-serif; 
}

body {
	margin: 0;
	padding: 0;
}

.navbar-top {
	position: fixed;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 40px;
	z-index: 1;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
	background-color: white;

}

.logo {
	flex: 1 1 auto;
	margin-left: 1%;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}

.home {
	flex: 1 1 auto;
	font-size: 20px;
	text-align: right;
	margin-right: 1%;
	color: #000;
	text-decoration: none;
}

.navbar-bottom {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 60px;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
	background-color: white;
	margin-top: 40px;
}

ul {
	text-decoration: none;
	margin: 0;
	font-size: 30px;
}

#menu {
  	width: 100%;
  	padding: 0;
  	margin-left: 1%;
 }

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

#menu a {
	color: black;
    text-decoration: none;
}

#menu a:hover {


}

.capitolo-etimologia {
	margin-left: 1%;
	margin-right: 1%;
	float: left;
	display: block;
}

.testo-etimologia {
    font-size: 50px;
    line-height: 100%;
    color: black;
    letter-spacing: -0.5px !important;
    margin-top: 100px;
    margin-bottom: 15px;
}

.hr5px {
	height: 5px;
	width: 98%;
	background-color: black;
	border: 0;
}

.indice {
	margin-left: 1%;
	margin-right: 1%;
}

.testo-indice {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

.hr1px {
	height: 1px;
	width: 98%;
	background-color: black;
	border: 0;
}

.capitolo{
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 20px;
	text-align:left;
	display: block;
}

.titolo-capitolo {
	font-size: 180px;
	letter-spacing: -8px;
	color: #000;
	text-decoration: none;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 95%;
}

.titolo-capitolo:hover {
	cursor: pointer;
}

.testo-capitolo{
	display: none;
}

.titolo-testo-capitolo {
	color: black;
	text-decoration: none;
	font-size: 20px;
	float:left;
	width: 15%;
	line-height: 115%;
}

.paragrafo-testo-capitolo {
	color: black;
	text-decoration: none;
	font-size: 20px;
	float: left;
	width: 50%;
	line-height: 115%;
}

.footer{
	justify-content: left;
	display: flex;
	margin-bottom: -10px;
}

.footer-sitografia {
	flex: 1 1 auto;
	font-size: 15px;
	text-align: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0px;
	color: #000;
	text-decoration: none;
	font-size: 15px;
}

.link-sitografia {
	color: black;
	text-decoration: none;
	font-size: 15px;
	line-height: 115%;
}

.footer-colophon {
	flex: 1 1 auto;
	font-size: 15px;
	text-align: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0px;
	color: #000;
	text-decoration: none;
	font-size: 15px;
}

.footer-arrow {
	flex: 1 1 auto;
	font-size: 15px;
	text-align: right;
	margin-right: 1%;
	color: #000;
	text-decoration: none;
}

/*---breakpoint-responsive1180---*/

@media only screen
and (max-width: 1180px) {
	
	.titolo-capitolo {
		font-size: 135px;
		letter-spacing: -5px;
	}
}

/*---breakpoint-responsive895---*/

@media only screen
and (max-width: 895px) {
	
	.titolo-capitolo {
		font-size: 100px;
		letter-spacing: -4px;
	}

	ul {
		font-size: 25px;
	}

	.testo-etimologia {
    	font-size: 40px;
	}
}

/*---breakpoint-responsive740---*/

@media only screen
and (max-width: 740px) {
	
	.titolo-capitolo {
		font-size: 100px;
		letter-spacing: -4px;
	}

	ul {
		font-size: 20px;
	}

	.testo-etimologia {
   		font-size: 40px;
	}
}

/*---breakpoint-responsive660---*/

@media only screen
and (max-width: 660px) {
	
	.titolo-capitolo {
		font-size: 70px;
		letter-spacing: -2px;
	}

	ul {
		font-size: 15px;
	}

	.navbar-top {
		height: 40px;
	}

	.navbar-bottom {
		height: 40px;
		margin-top: 40px;
	}

	.testo-etimologia {
   		font-size: 30px;
    	margin-top: 80px;
	}

	.logo {
		font-size: 15px;
	}

	.home {
		font-size: 15px;
	}

	.testo-indice {
		font-size: 15px;
	}

	.titolo-testo-capitolo {
		font-size: 20px;
		width: 20%;
	}

	.paragrafo-testo-capitolo {
		font-size: 20px;
		width: 70%;
	}

	.footer-sitografia {
		font-size: 15px;
	}

	.link-sitografia {
		font-size: 15px;
	}

	.footer-colophon {
		font-size: 15px;
	}
}

/*---breakpoint-responsive470---*/

@media only screen
and (max-width: 470px) {
	
	.titolo-capitolo {
		font-size: 50px;
		letter-spacing: -2px;
	}

	ul {
		font-size: 10px;
	}

	.navbar-top {
		height: 40px;
	}

	.navbar-bottom {
		height: 30px;
		margin-top: 40px;
	}

	.testo-etimologia {
   		font-size: 20px;
    	margin-top: 70px;
	}

	.logo {
		font-size: 15px;
	}

	.home {
		font-size: 15px
	}

	.testo-indice {
		font-size: 15px;
	}

	.titolo-testo-capitolo {
		font-size: 15px;
		width: 50%;
		float: none;
		margin-left: 1%;
	}

	.paragrafo-testo-capitolo {
		font-size: 15px;
		width: 90%;
		float: none;
		margin-left: 1%;
	}

	.footer-sitografia {
		font-size: 15px;
	}

	.link-sitografia {
		font-size: 15px;
	}

	.footer-colophon {
		font-size: 15px;
	}
}

/*---breakpoint-responsive320---*/

@media only screen
and (max-width: 320px) {
	
	.titolo-capitolo {
		font-size: 50px;
		letter-spacing: -2px;
	}

	ul {
		font-size: 9.5px;
		color: blue;
	}

	.navbar-top {
		height: 30px;
	}

	.navbar-bottom {
		height: 30px;
		margin-top: 30px;
	}

	.testo-etimologia {
   		font-size: 20px;
    	margin-top: 60px;
	}

	.logo {
		font-size: 10px;
	}

	.home {
		font-size: 10px;
	}

	.testo-indice {
		font-size: 10px;
	}

	.titolo-testo-capitolo {
		font-size: 10px;
		width: 50%;
		float: none;
		margin-left: 1%;
	}

	.paragrafo-testo-capitolo {
		font-size: 10px;
		width: 90%;
		float: none;
		margin-left: 1%;
	}

	.footer-sitografia {
		font-size: 10px;
	}

	.link-sitografia {
		font-size: 10px;
	}

	.footer-colophon {
		font-size: 10px;
	}
}